Pandas is a highly useful package for data analysis, and as such it is a valuable tool for work in physics and astrophysics. Let us look at some different uses of pandas.

Let us begin by creating a simple dict.

In [4]:
import pandas as pd

In [2]:
data = {'cosmo1': [3, 6, 9, 10], 'cosmo2': [1,1,3,4]}

In [5]:
CosmoValues = pd.DataFrame(data)

In [6]:
CosmoValues

   cosmo1  cosmo2
0       3       1
1       6       1
2       9       3
3      10       4

Here is the 'dataframe' or table that we have just created. We are not limited to ints, we could have used strings instead. You are probably thinking that the left-most column should contain proper labels rather than index numbers. Let's add an index!

In [8]:
CosmoValues = pd.DataFrame(data, index=['T1', 'T2', 'T3', 'T4'])

In [9]:
CosmoValues

    cosmo1  cosmo2
T1       3       1
T2       6       1
T3       9       3
T4      10       4

In [12]:
CosmoValues.loc['T3']

cosmo1    9
cosmo2    3
Name: T3, dtype: int64

Of course, having to type in values into python to create dataframes can be highly cumbersome. It is possible to just read in a csv or xlsx file.

In [ ]:
df = pd.read_csv('filename.csv', index_col=0)

One can also convert to a csv file as follows:

In [ ]:
df.to_csv('new_purchases.csv')

Here are some general commands for dataframes that are useful:

In [13]:
CosmoValues.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, T1 to T4
Data columns (total 2 columns):
cosmo1    4 non-null int64
cosmo2    4 non-null int64
dtypes: int64(2)
memory usage: 256.0+ bytes

In [14]:
CosmoValues.shape # output = (rows, columns)

(4, 2)

In [15]:
CosmoValues.columns

Index(['cosmo1', 'cosmo2'], dtype='object')

[to be continued]