Welcome to this introduction to the Python programming language! Python is a wonderfully simple language compared to other languages, and it can be intuitive once you get more acquainted with it.

This guide is specifically designed for Python 3. If you are using Python 2, this guide will still be useful, but there are a couple of differences in the following code that you will have to be conscious about. I will try to point out these differences where relevant. That said I am no expert in Python 2.

Let us begin with the simple task of printing something:

In [1]:
print('Hello World')

Hello World

Note that Python is a flexible programming language; we could also do

In [2]:
print("Hello World")

Hello World

Let us look at some of the basic operations in Python. The operations are as follows:


* '+' add
* '-' subtract
* '*' multiply
* '/' divide
* ** exponential
* '%' modulo

We can see them used below:

In [3]:
5+4

9

In [16]:
7 - 3.4

3.6

In [ ]:
2 * 5

In [18]:
10 / 4   # Python 2 would compute 10/4 = 2, truncating the decimal

2.5

In [21]:
3 ** 2

9

In [20]:
10 % 3 # i.e: 10/3 gives 3 remainder 1.

1

Now let's work on declaring variables and writing some equations.

In [90]:
m = 10  # kg
a = 2   # m/s

F = m*a
print(F) # force in Newtons

20

Note that the variables m, a, and F will hold the values they are assigned until changed. Let us look at this:

In [91]:
print(m)
print(a)
print(F)

print(' ') # just printing a blank space to make the output easier to read

m = 15

print(m)
print(a)
print(F)

10
2
20

15
2
20

Also note that variable names are case sensitive: F $\neq$ f

In [1]:
print(F)

NameError: name 'F' is not defined

In [2]:
print(f)

NameError: name 'f' is not defined

In [92]:
var1 = 20
var2 = 5
var3 = 'Russian'
var4 = 'literature'

In [93]:
var1 + var2

25

In [94]:
var3 + var4

'Russianliterature'

In [95]:
var3 + ' ' + var4   # don't forget the space!

'Russian literature'

In [36]:
var3 + var1

TypeError: must be str, not int

What just happened above? It turns out that you can't concatenate integers with strings directly. In fact, only strings can be added onto strings in this way. Don't worry, just convert the integer into a string and you'll be fine.

In [96]:
var3 + str(var1)

'Russian20'

As a quick aside, it is worth us discussing good coding practice. 

1. Give your variable names sensible and useful names.

At the beginning of a project, the code is simple and easy to follow. But by the end of it (and especially when debugging code), your code can be rather difficult to understand. This is especially true if your variable names are 'ex1', 'exp1', 'exp_1', 'newexp', 'exp_new1', etc. Use longer variable names when its good to do so.

2. Use comments to explain what you're doing

In [97]:
'''
Here is a good way of commenting in Python
across multiple lines. Usually I do this at
the beginning of a function or long chunk of
code to explain what my code is actually doing.
'''

variable = 1 # for a quick comment, use the hashtag.

There are also a couple of useful shorthands:

In [100]:
x = 85
x += 15  # equivalent to x = x + 15
print(x)

y = 10
y *= 2  # equivalent to y = y * 2
print(y)

100
20

The above shorthand is useful. However, take heed of this quick warning using Jupyter notebook (or any kind of modularised code). Consider the following code where we want to convert $y = 10$ to $y = 20$

In [101]:
y = 10

In [102]:
y += 10

In [103]:
print(y)

20

Go back and run the $y += 10$ code again. Now run the print(y) code. It now prints $y = 30$ rather than $y = 20$. Try to keep your code self-contained where possible to avoid potentials mistakes like this.

Another word of warning, be careful with precision!

In [104]:
print(0.9999999999999999)
print(0.99999999999999999)

0.9999999999999999
1.0

In [105]:
0.1 + 0.2 == 0.3

False

What's going on here? The numbers 0.1, 0.2, and 0.3 cannot be exactly represented as floats (due to issues representing decimal numbers exactly in binary form). As a matter of fact the following is how 0.3 is actually stored here (to 25dp):

In [107]:
print("{0:.25f}".format(0.3))

0.2999999999999999888977698

In [49]:
print(5e0)
print(10e2)
print(10e5)

5.0
1000.0
1000000.0

Let us turn our attention to the final data type that we care about for now: Booleans. These are simply 'True' and 'False'. For example:

In [56]:
10 == 10

True

In [57]:
4 == 6

False

In [58]:
4 != 6

True

In [59]:
7 >= 1

True

In [60]:
0 == False

True

In [61]:
2 == False

False

In [62]:
x = 2
(x > 1) and (x < 5)

True

Let us move on to the types of data structures in Python. A data structure is a set of data values (or elements) that are grouped. The four types are lists, tuples, sets, and dictionaries.

Let us now look more closely at lists. A list is one of Python's built-in sequences. It is almost certainly the most common sequence that you will encounter, and it pays to be very familar with lists and the methods associated with them. Consider the example below:

In [3]:
mylist = [1, 2, 4, 8, 10]

mylist is a structured group of five elements, in this case all integers. Let us note two very important properties of lists:

1. You can mix and match data types! [4, 3.14, 'hello'] is a valid list consisting of three different data types!

2. Lists are mutable; it is possible to change them after initally creating them.

We shall see this in action. First though, let us look at selecting  elements from a list.

In [74]:
mylist[0]

1

In [75]:
mylist[1]

2

In [78]:
mylist[1] + mylist[2]

6

Note that we can also use negative index values to work backwards from right to left. This can be especially valuable if you need the last element for a set of lists where they all have variable length.

In [1]:
mylist[-1]

NameError: name 'mylist' is not defined

In [80]:
mylist[1:4]

[2, 4, 8]

Strings are similar to lists by their indexing!

In [64]:
b = 'big baby'
b[0]

'b'

In [66]:
b[4:8]

'baby'

In [67]:
b[-1]

'y'

Because lists are so important in practically every project, let us look at calling methods for lists. Here is a list of all of the useful methods:

.append()
.count()
.extend()
.index()
.insert()
.pop()
.remove()
.reverse()
.sort()

Let's look at these one at a time.

In [4]:
mylist

[1, 2, 4, 8, 10]

In [5]:
mylist.append(3)

In [6]:
mylist

[1, 2, 4, 8, 10, 3]

Note carefully how the append method works when trying to add another list to the alist. You end up with a nested list. If you want to avoid a nested list (and are just trying to add multiple elements onto your list at once) use .extend()

In [10]:
names = ['Adam', 'Bob', 'Colin']
names.append(['David', 'Egor', 'Fitzgerald'])

In [11]:
names

['Adam', 'Bob', 'Colin', ['David', 'Egor', 'Fitzgerald']]

In [1]:
names = ['Adam', 'Bob', 'Colin']
names.extend(['David', 'Egor', 'Fitzgerald'])

In [13]:
names

['Adam', 'Bob', 'Colin', 'David', 'Egor', 'Fitzgerald']

These methods are all very well and good, but they always add the new elements to the end of the list. You will probably come across numerous problems where you need new data to be inserted into the correct place. Enter .insert()

In [20]:
names

['Adam', 'Bob', 'April', 'Colin', 'David', 'Egor', 'Fitzgerald']

In [21]:
names.insert(1, 'April')

In [22]:
names

['Adam', 'April', 'Bob', 'April', 'Colin', 'David', 'Egor', 'Fitzgerald']

Now the new element 'April' is at index 1.

.count() is a method for determining how many times a particular integer, float, string, etc, appears in a list. In the following code, the integer 1 appears three times.

In [15]:
data = [1, 2, 1, 3, 4, 5, 6, 2, 1, 5, 4]

In [17]:
data.count(1)

3

If you want to know where an element appears in a list, use the .index() method. Just remember that indexing starts at 0!

In [5]:
names.index('Colin')

2

This is effectively telling us the reverse of the following:

In [4]:
names[2]

'Colin'

Occasionally you will have an unordered dataset that for whatever reason, you want to see sorted. Let us look carefully at the .sort() method to do this. There is a subtlety here that causes a lot of confusion, so pay attention. Consider the following (unordered) list:

In [6]:
statistics = [72, 24, 35, 12, 73, 94, 62]

In [7]:
statistics.sort()

In [8]:
statistics

[12, 24, 35, 62, 72, 73, 94]

Here the list named statistics has been sorted. The confusing part is why didn't the line statistics.sort() return any values? After all, this is common (looking above, names.index('Colin') instantly returned a value of 2).

The reason is that .sort() doesn't return any values. To understand this in more detail, consider the following common error:

In [9]:
x = [10, 30, 20]
y = x.sort()

In [10]:
print(x)

[10, 20, 30]

In [12]:
print(y)

None

Here we see that y returns None, because the .sort() method doesn't return anything. So what if you want to retain the unordered list?

In [15]:
x = [10, 30, 20]
x_ordered = x
x_ordered.sort()

print(x_unordered)
print(x)

[10, 20, 30]
[10, 20, 30]

Well that didn't work, because the line x_ordered = x means that the variables x and x_ordered point to the same list, which is then sorted! One correct way to resolve this is to create a slice of x which consists of all of the elements of x (effectively creating a new but identical list).

In [16]:
x = [10, 30, 20]
x_ordered = x[:]
x_ordered.sort()

print(x_unordered)
print(x)

[10, 20, 30]
[10, 30, 20]

This is the bulk of what you'll probably need to know about lists for all practical purposes. If you ever need help, just ask for it!

In [26]:
help

Type help() for interactive help, or help(object) for help about object.

In [27]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

I mentioned that there are other data structures earlier, notably tuples, sets, and dictionaries. My honest opinion is that I have found these rather useless when doing research tasks so far, but there has certainly been potential for their use in some of my research projects had I decided to approach the problems slightly differently. For completeness, I shall briefly discuss tuples now
[Discussion on sets and dictionaries to be added later on.]
 
The major difference between tuples and lists is that while a list is mutable, a tuple is not. This difference is huge. You can always change a list: you can add elements, change elements, remove them, and so on, but once a tuple is created, it's that way for life.

Instead of [] brackets for lists, a tuple is created using () brackets.

In [28]:
astro1 = (10, 15, 22)

In [29]:
astro1

(10, 15, 22)

In [30]:
astro1[1]

15

All well and good, but now...

In [31]:
astro1[1] = 17

TypeError: 'tuple' object does not support item assignment

You can't change the elements in this tuple, because the tuple is immutable! Here are some quick details about tuples:

If you want to create a tuple of just one element, you need a comma

In [34]:
(5,)

(5,)

In [35]:
(5)

5

Notice that (5,) is a tuple, whereas (5) does not create a tuple. Another quick point, if you want to convert something (e.g: a list) to a tuple, use tuple()

In [36]:
tuple([0,1,2])

(0, 1, 2)

What then, is the point of a tuple? You will soon learn that some functions return tuples, in which case you need to be acquainted with them (and more specifically, acquainted with how to work without lists). Additionally, unlike lists, tuples can be used as keys. This is beyond the current content of this guide so if this makes no sense to you right now, don't worry about it.

The third structure we shall look at are sets. A set is an unordered data structure that can be mutable. If you are familiar with the mathematical definition of a set, they are the same thing. Sets are also advantageous over lists for the sole reason that they are optimised for determining whether an element is actually in a set.

Let us begin by creating a set. Here are two different ways of doing this:

In [2]:
greek1 = set(['alpha', 'beta', 'gamma'])

In [4]:
greek2 = {'gamma', 'epsilon', 'theta'}

In [8]:
greek1.add('delta')

In [9]:
greek1

{'alpha', 'beta', 'delta', 'gamma'}

Notice again that 'delta' doesn't appear at the end of the set upon adding it. If this were a list and we were appending delta, then it would. This serves to emphasise that sets are unordered whereas lists aren't.

Let's proceed by looking at some of the functions associated with lists, notably union, intersection, subsets and supersets.

In [11]:
greek3 = greek1 | greek2 # union

In [12]:
greek3

{'alpha', 'beta', 'delta', 'epsilon', 'gamma', 'theta'}

In [13]:
greek4 = greek1 & greek2 # intersection

In [14]:
greek4

{'gamma'}

In [18]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {3, 4, 5}

set1 > set2 # is set1 a superset of set2?

True

In [16]:
set2 < set1 # is set2 a subset of set1?

True

In [19]:
set1 == set2 # is set1 identical to set2?

False

Suppose that for some reason you seek to completely clear a set of its elements. Simply use .clear()

In [20]:
set2.clear()

In [21]:
set2

set()

Furthermore, we can also add immutable sets called frozen sets as follows:

In [22]:
hebrew1 = frozenset(['aleph', 'bet', 'gimel'])

In [24]:
hebrew1.add('dalat')

AttributeError: 'frozenset' object has no attribute 'add'

In my personal experience, the data that we work with in astrophysics is usually ordered. This is obvious if we think of us trying to plot a graph of two variables, such as temperature and luminosity; the two elements in each array need to be ordered so they can be plotted, or manipulated in any way. As such, I find that lists are almost always the answer to everything, rather than tuples or sets.

The final data structure that we’re going to look at is the dictionary. They are similar to maps or hashes in other languages. A dictionary works as follows: each entry is assigned a unique and immutable key which can be used to call the entry. The dictionary as a whole is mutable though, we can add and change values. Take a gander at the following:

In [39]:
d = dict({1: 'Pumpkin', 2: 'Citrouille', 3:'Nangua'})

In [40]:
print(d)

{1: 'Pumpkin', 2: 'Citrouille', 3: 'Nangua'}

In [41]:
d.keys()

dict_keys([1, 2, 3])

In [42]:
d.values()

dict_values(['Pumpkin', 'Citrouille', 'Nangua'])

This is again an unordered data set, but this time two elements are linked with each entry rather than just one (known as a key:value pair). We can add values to the dictionary as follows:

In [47]:
d[4] = 'Kurbis'

In [48]:
print(d)

{1: 'Pumpkin', 2: 'Citrouille', 3: 'Nangua', 4: 'Kurbis'}

Here is how we 'get' a value given the key:

In [46]:
d.get(3)

'Nangua'

From this, we can see that lists and dictionaries are both mutable. They can also both be nested. The key difference is in how data is accessed. In a list it is done by indexing, whereas in a dictionary it is done by keys.

With the main data structures looked at, let's move on to loops. Let's start with the for loop. Here is an example of how they work:

In [109]:
for i in range(10):
    x = i*3
    print(x)

0
3
6
9
12
15
18
21
24
27

Important note: Indents matter! They perform the role of curly brackets found in other languages like Java.

Now let's look at some if/else statements.

In [112]:
y = 10

if (y < 3):
    print('y is lower than 3')
else:
    print('y is not lower than 3')

y is not lower than 3

In [113]:
x = 'dog'
if x == "cat":
    print("I only like Westies")
else:
    pass

In [116]:
x = 5

if x < 1:
    print("option 1")
elif x > 100:
    print("option 2")
elif x == 61:
    print("option 3")
else:
    print("option 4")

option 4

In [117]:
x = 1
y = 0
while y < 10:
    print("yeah but" if x > 0 else "no but")
    x *= -1
    y += 1

yeah but
no but
yeah but
no but
yeah but
no but
yeah but
no but
yeah but
no but

This is of course only the surface of some of the built-in types and methods that Python is. If you want to investigate further, I would recommend looking at the following website:

https://docs.python.org/3/library/stdtypes.html

The next step in learning Python for scientific purposes (or any purposes really) is to explore some of the libraries. The next tutorial is for a library called numpy.

Exercises:

1. a) Write some code that prints every number from 10 to 75.
   b) Now adapt this code so that it:
       i) Only prints the even numbers between 10 and 75.
       ii) Only prints the even numbers and multiples of 7.
       iii) Prints the even numbers and multiples of 7, and prints 'WRONG!' in every other case.