Welcome to this introduction to the Python programming language! Python is a wonderfully simple language compared to other languages, and it can be intuitive once you get more acquainted with it.

This guide is specifically designed for Python 3. If you are using Python 2, this guide will still be useful, but there are a couple of differences in the following code that you will have to be conscious about. 

Let us begin with the simple task of printing something:

In [1]:
print('Hello World')

Hello World

Note that Python is a flexible programming language; we could also do

In [2]:
print("Hello World")

Hello World

Let us look at some of the basic operations in Python. The operations are as follows:


* '+' add
* '-' subtract
* '*' multiply
* '/' divide
* ** exponential
* '%' modulo

We can see them used below:

In [3]:
5+4

9

In [16]:
7 - 3.4

3.6

In [ ]:
2 * 5

In [18]:
10 / 4   # Python 2 would compute 10/4 = 2

2.5

In [21]:
3 ** 2

9

In [20]:
10 % 3

1

Now let's work on declaring variables and writing some equations.

In [90]:
m = 10  #kg
a = 2   #m/s

F = m*a
print(F) # force in Newtons

20

Note that the variables m, a, and F will hold the values they are assigned until changed. Let us look at this:

In [91]:
print(m)
print(a)
print(F)

print(' ') # just printing a blank space to make the output easier to read

m = 15

print(m)
print(a)
print(F)

10
2
20

15
2
20

Also note that variable names are case sensitive: F $\neq$ f

In [92]:
var1 = 20
var2 = 5
var3 = 'Russian'
var4 = 'literature'

In [93]:
var1 + var2

25

In [94]:
var3 + var4

'Russianliterature'

In [95]:
var3 + ' ' + var4

'Russian literature'

In [36]:
var3 + var1

TypeError: must be str, not int

What just happened above? It turns out that you can't concatenate integers with strings directly. In fact, only strings can be added onto strings in this way. Don't worry, just convert the integer into a string and you'll be fine.

In [96]:
var3 + str(var1)

'Russian20'

As a quick aside, it is worth us discussing good coding practice. 

1. Give your variable names sensible and useful names.

At the beginning of a project, the code is simple and easy to follow. But by the end of it (and especially when debugging code), your code can be rather difficult to understand. This is especially true if your variable names are 'ex1', 'exp1', 'exp_1', 'newexp', 'exp_new1', etc. Use longer variable names when its good to do so.

2. Use comments to explain what you're doing

In [97]:
'''
Here is a good way of commenting in Python
across multiple lines. Usually I do this at
the beginning of a function to explain what
my code is actually doing.
'''

variable = 1 # for a quick comment, use the hashtag.

There are also a couple of useful shorthands:

In [100]:
x = 85
x += 15  # equivalent to x = x + 15
print(x)

y = 10
y *= 2  # equivalent to y = y * 2
print(y)

100
20

The above shorthand is useful. However, take heed of this quick warning using Jupyter notebook (or any kind of modularised code). Consider the following code where we want to convert $y = 10$ to $y = 20$

In [101]:
y = 10

In [102]:
y += 10

In [103]:
print(y)

20

Go back and run the $y += 10$ code again. Now run the print(y) code. It now prints $y = 30$ rather than $y = 20$. Try to keep your code self-contained where possible to avoid potentials mistakes like this.

Another word of warning, be careful with precision!

In [104]:
print(0.9999999999999999)
print(0.99999999999999999)

0.9999999999999999
1.0

In [105]:
0.1 + 0.2 == 0.3

False

What's going on here? The numbers 0.1, 0.2, and 0.3 cannot be exactly represented as floats (due to issues representing decimal numbers exactly in binary form). As a matter of fact the following is how 0.3 is actually stored here (to 25dp):

In [107]:
print("{0:.25f}".format(0.3))

0.2999999999999999888977698

Let us turn our attention to the final data type that we care about for now: Booleans. These are simply 'True' and 'False'. For example:

In [56]:
10 == 10

True

In [57]:
4 == 6

False

In [58]:
4 != 6

True

In [59]:
7 >= 1

True

In [60]:
0 == False

True

In [61]:
2 == False

False

In [62]:
x = 2
(x > 1) and (x < 5)

True

Let us now look more closely at lists.

In [73]:
mylist = [1, 2, 4, 8, 10]

In [74]:
mylist[0]

1

In [75]:
mylist[1]

2

In [78]:
mylist[1] + mylist[2]

6

In [77]:
mylist[-1]

10

In [80]:
mylist[1:4]

[2, 4, 8]

Strings are similar to lists by their indexing!

In [64]:
b = 'big baby'
b[0]

'b'

In [66]:
b[4:8]

'baby'

In [67]:
b[-1]

'y'

Let us now look at for loops. Here is an example of how they work:

In [109]:
for i in range(10):
    x = i*3
    print(x)

0
3
6
9
12
15
18
21
24
27

Important note: Indents matter!

Now let's look at some if/else statements.

In [112]:
y = 10

if (y < 3):
    print('y is lower than 3')
else:
    print('y is not lower than 3')

y is not lower than 3

In [113]:
x = 'dog'
if x == "cat":
    print("I only like Westies")
else:
    pass

In [116]:
x = 5

if x < 1:
    print("option 1")
elif x > 100:
    print("option 2")
elif x == 61:
    print("option 3")
else:
    print("option 4")

option 4

In [117]:
x = 1
y = 0
while y < 10:
    print("yeah but" if x > 0 else "no but")
    x *= -1
    y += 1

yeah but
no but
yeah but
no but
yeah but
no but
yeah but
no but
yeah but
no but

As a final note for using Python for scientific purposes, note the following:

In [118]:
print(5e0)
print(10e2)
print(10e5)

5.0
1000.0
1000000.0

Exercises:

1. a) Write some code that prints every number from 10 to 75.
   b) Now adapt this code so that it:
       i) Only prints the even numbers between 10 and 75.
       ii) Only prints the even numbers and multiples of 7.
       iii) Prints the even numbers and multiples of 7, and prints 'WRONG!' in every other case.